:root{
    --color-neutral: rgb(5, 84, 187); 
}

body {
    --hue: var(--hue-neutral)
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: var(--color-neutral);
    align-items: center;
    font-size: 2rem;
}


.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px; 
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.hide {
    display: none;
}

.btn {
margin: 20px;
font-size: 2rem;
border-radius: 2px;
}